root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

# 2 Spaces

[*.{coffee, rb, yml, js, html, erb, php, css, scss}]
indent_style = space
indent_size = 2

[*.yaml]
# Im not sure why, but adding yaml to the above
# list would not work
indent_style = space
indent_size = 2
